<a href="https://colab.research.google.com/github/tianiachan/IdentifyingAirBnBsinSantaClara/blob/main/Data670_Identifying_AirBnBs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#upload necessary csv to google drive 
from google.colab import files
uploaded = files.upload()

Saving neighbourhoods.geojson to neighbourhoods.geojson

In [64]:
#import as dataframe 
import pandas as pd
import io
listings_df = pd.read_csv('/content/listings.csv')
calendar_df = pd.read_csv('/content/calendar.csv')
reviews_df = pd.read_csv('/content/reviews.csv')

# Step by Step EDA in Python https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee

In [65]:
#drop columns not needed for listings
listings_df.columns
listings_df=listings_df.drop(columns=['host_id','host_name','neighbourhood_group','price','minimum_nights','number_of_reviews','last_review','reviews_per_month','availability_365','number_of_reviews_ltm'])

In [66]:
listings_df.head()

,id,name,neighbourhood,latitude,longitude,room_type,calculated_host_listings_count,license
0,2861174,Casablanca Master Suite,Palo Alto,37.41710,-122.12669,Private room,1,NaN
1,1364787,Iris House Cozy room in dwntn Palo Alto & Stan...,Palo Alto,37.44973,-122.15081,Private room,5,NaN
2,2880487,**Premium Executive Condo. with Maid Svcs**,Los Altos,37.37318,-122.10736,Entire home/apt,1,NaN
3,1366049,Beautiful Single Family Home,Campbell,37.26901,-121.96325,Private room,1,NaN
4,4952,Butterfly Inn near Stanford with weekly cleaning,Palo Alto,37.43932,-122.15741,Private room,5,NaN

In [67]:
#same for reviews
reviews_df.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [68]:
#drop the columns
reviews_df=reviews_df.drop(columns=['reviewer_id'])

In [69]:
reviews_df.head()

,listing_id,id,date,reviewer_name,comments
0,4952,6560,2009-08-02,Diane,Staying with Mei Lin and Ross at the Butterfly...
1,1353178,7471795,2013-09-21,Jesus,I will definitely stay at HackerHome when I go...
2,1353178,10120145,2014-02-01,Jeanne,Rob and Vic = family.\r<br/>Class acts.
3,1353178,11096627,2014-03-20,Debora,"Very nice place, nice people, nice location! I..."
4,1353178,11875945,2014-04-17,Pascal,I had a really good time in the HackerHome. Ev...

In [70]:
#rename column id so it says review id
reviews_df.rename(columns={'id':'review_id'}, inplace=True)

In [71]:
#check that changes happened
reviews_df.head()

,listing_id,review_id,date,reviewer_name,comments
0,4952,6560,2009-08-02,Diane,Staying with Mei Lin and Ross at the Butterfly...
1,1353178,7471795,2013-09-21,Jesus,I will definitely stay at HackerHome when I go...
2,1353178,10120145,2014-02-01,Jeanne,Rob and Vic = family.\r<br/>Class acts.
3,1353178,11096627,2014-03-20,Debora,"Very nice place, nice people, nice location! I..."
4,1353178,11875945,2014-04-17,Pascal,I had a really good time in the HackerHome. Ev...

In [72]:
#do the same for calendar
calendar_df.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [73]:
calendar_df=calendar_df.drop(columns=['price','adjusted_price','minimum_nights','maximum_nights'])

In [74]:
#exploratory statistics on each dataset
listings_df.describe()

                 id     latitude    longitude  calculated_host_listings_count
count  6.162000e+03  6162.000000  6162.000000                     6162.000000
mean   2.086868e+17    37.346771  -121.961575                       54.354755
std    3.186442e+17     0.066625     0.111997                      130.668417
min    4.952000e+03    36.965600  -122.196520                        1.000000
25%    2.599622e+07    37.317750  -122.039510                        1.000000
50%    4.625849e+07    37.348895  -121.951896                        3.000000
75%    6.028114e+17    37.394208  -121.885593                       13.000000
max    7.901690e+17    37.462000  -121.380120                      461.000000

In [80]:
#paired with datatype and identification of null values
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6162 non-null   int64
 1   name                            6161 non-null   object
 2   neighbourhood                   6162 non-null   object
 3   latitude                        6162 non-null   float64
 4   longitude                       6162 non-null   float64
 5   room_type                       6162 non-null   object
 6   calculated_host_listings_count  6162 non-null   int64
 7   license                         258 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 385.2+ KB

In [83]:
#finally check for any duplicates?
listings_df.duplicated().sum()

0

In [78]:
reviews_df.describe() #no staistical value since the rest are boolean or string

         listing_id     review_id
count  1.966170e+05  1.966170e+05
mean   2.610696e+16  2.208022e+17
std    1.263996e+17  2.991275e+17
min    4.952000e+03  6.560000e+03
25%    1.101710e+07  3.223056e+08
50%    2.215150e+07  6.068444e+08
75%    3.818878e+07  5.363594e+17
max    7.803523e+17  7.907592e+17

In [81]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196617 entries, 0 to 196616
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     196617 non-null  int64
 1   review_id      196617 non-null  int64
 2   date           196617 non-null  object
 3   reviewer_name  196616 non-null  object
 4   comments       196564 non-null  object
dtypes: int64(2), object(3)
memory usage: 7.5+ MB

In [84]:
reviews_df.duplicated().sum()

0

In [79]:
calendar_df.describe()

         listing_id
count  2.249130e+06
mean   2.086868e+17
std    3.186184e+17
min    4.952000e+03
25%    2.598223e+07
50%    4.625849e+07
75%    6.028160e+17
max    7.901690e+17

In [82]:
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249130 entries, 0 to 2249129
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
 2   available   object
dtypes: int64(1), object(2)
memory usage: 51.5+ MB

In [85]:
calendar_df.duplicated().sum()

0